body {
  background-color: #391128;
  color: #e27ed9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 60px;
}

header {
  background-color: #1c0418bc;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  color: #ee6eb4;
  font-size: 36px;
}

.container {
  padding: 20px;
}

.hero-text {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.hero-text h2 {
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.hero-text p {
  font-size: 24px;
}

.row {
  margin-top: 50px;
}

.col-md-6 p {
  text-align: justify;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* footer */
.footer {
  background-color: #333;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
}
